

@model  WebCommercial.Models.Metier.ModifCommande
@{
    ViewBag.Title = "Modifier";
    Layout = "~/Views/Shared/_LayoutCommercial.cshtml";
}

<h2>Modifier une commande</h2>
@if (Model != null)
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Commande</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">N° Commande</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comm.NuComm, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
            @Html.ValidationMessageFor(model => model.Comm.NuComm, "", new { @class = "text-danger" })
            <input name="NuComm" type="HIDDEN" value=@(@Model.Comm.NuComm) id="NuComm" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">N° Vendeur</label>
        <div class="col-md-10">
            <select name="NuVendeur" id="NuVendeur" class="selectpicker form-control">
                @foreach (String nuVendeur in Model.ListNuVendeurs)
                {
                    if (nuVendeur == Model.Comm.NuVendeur)
                    {
                        <option selected="selected">@nuVendeur</option>
                    }
                    else
                    {
                        <option>@nuVendeur</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">N° Client</label>
        <div class="col-md-10">
            <select name="NuClient" id="NuClient" class="selectpicker form-control">
                @foreach (String nuClient in Model.ListNuClients)
                {
                    if (nuClient == Model.Comm.NuClient)
                    {
                        <option selected="selected">@nuClient</option>
                    }
                    else
                    {
                        <option>@nuClient</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Date de commande</label>
        <div class="col-md-10">
            <input name="DateComm" type="date" class="form-control" value=@(@Model.Comm.DateComm) id="DateComm" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Facturée :</label>
        <div class="col-md-10">
            @if (Model.Comm.Fact == "F")
            {
                <span>True</span>
                <input name="Fact" type="radio"  value="T" id="FactT">
                <br />
                <span>False</span>
                <input name="Fact" type="radio" value="F" checked="checked" id="FactF" />
            }
            else
            {
                <span>True</span>
                <input name="Fact" type="radio" value="T" checked="checked" id="FactT" />
                <br />
                <span>False</span>
                <input name="Fact" type="radio" value="F" id="FactF" />
            }
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-success" />
        </div>
        <div>
            @Html.ActionLink("Fermer", "Index", "Commande", new { @class = "btn btn-default btn-outline-secondary" })
        </div>
    </div>
</div>
    }
}

